body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1{
    font-size: 36px;
    color: #222;
    margin-bottom: 30px;
    margin-left: 5%;
}

.navbar-nav{
    margin-right: 5%;
}

p{
    font-size: 18px;
    text-wrap: wrap;
}








  /*third page*/

  .featured-works{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .work-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-left: 5%;
    margin-right: 5%;
    
  }

  .work-item img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .work-title{
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
  }

  .work-meta{
    font-size: 1rem;
    color: #888;
    margin-bottom: 10px;
  }

  .work-description{
    font-size: 1rem;
    color: #555;
  }

  /*footer section*/

  footer{
    text-align: center;
    padding: 20px;
    background-color: white;
    
  }

  .social-icon{
    margin-bottom: 10px;
  }

  .social-icon a{
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .social-icon a:hover{
    transform: scale(1.1);
  }

  .social-icon img{
    width: 30px;
    height: 30px;
  }

  p{
    font-size: 14px;
    color: #555;
  }



  /*footer page responsive*/

  @media(max-width:600px){
    .social-icon img{
      width: 25px;
      height: 25px;
    }

    p{
      font-size: 12px;
    }
  }

  /*third page responsive*/

  @media (min-width: 768px) {
    .work-item {
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
       
    }

    .work-item img {
        max-width: 200px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .work-content {
        flex: 1;
        
    }
}   

@media (min-width: 1024px) {
    .featured-works {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .work-item {
        flex-direction: row;
        gap: 20px;
        
    }
}

/*responsive*/

@media(max-width:992px){
    .container{
        flex-direction: column;
        text-align: center;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 16px;
    }

    .image-section img{
        width: 150px;
        height: 150px;
    }
}